.loader1 {
  width: 60px;
  height: 60px;
  background: var(--background-color);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 50%;
  -webkit-animation: blob 2s infinite cubic-bezier(1, -0.4, 0.1, 1.21);
  animation: blob 2s infinite cubic-bezier(1, -0.4, 0.1, 1.21);
}
.loader1 .blib {
  width: 250%;
  height: 40px;
  position: absolute;
  top: 0;
  left: -80%;
  right: 0;
  bottom: 0;
  margin: auto;
  -webkit-animation: blib 2s infinite cubic-bezier(1, -0.4, 0.1, 1.21);
  animation: blib 2s infinite cubic-bezier(1, -0.4, 0.1, 1.21);
}
.loader1 .blib:before {
  content: "";
  width: 30px;
  height: 30px;
  background: var(--background-color);
  position: absolute;
  left: 10px;
  border-radius: 50%;
  bottom: 0;
  top: 0;
  margin: auto;
}

@-webkit-keyframes blob {
  0% {
    transform: scale(1.4);
  }
  30% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.4);
  }
}

@keyframes blob {
  0% {
    transform: scale(1.4);
  }
  30% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.4);
  }
}
@-webkit-keyframes blib {
  0% {
    transform: scale(0.4) rotate(0deg);
  }
  25% {
    transform: scale(1) rotate(90deg);
  }
  50% {
    transform: scale(0.4) rotate(180deg);
  }
  75% {
    transform: scale(1) rotate(270deg);
  }
  100% {
    transform: scale(0.4) rotate(360deg);
  }
}
@keyframes blib {
  0% {
    transform: scale(0.4) rotate(0deg);
  }
  25% {
    transform: scale(1) rotate(90deg);
  }
  50% {
    transform: scale(0.4) rotate(180deg);
  }
  75% {
    transform: scale(1) rotate(270deg);
  }
  100% {
    transform: scale(0.4) rotate(360deg);
  }
}
