* {
  margin: 0;
  padding: 0;
}
h1 {
  color: #365f91;
  font-family: Cambria, serif;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  font-size: 14pt;
  padding-left: 5px;
}

p,
.p {
  font-family: Calibri, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 11pt;
  margin: 0pt;
  line-height: 115%;
  text-align: justify;
  padding-left: 15px;
  padding-top: 5px;
  margin-bottom: 10px;
}

h3 {
  font-family: Calibri, sans-serif;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  padding-left: 15px;
  margin-bottom: 10px;
  font-size: 11pt;
}

h2 {
  color: #4f81bb;
  padding-left: 15px;
  font-family: Cambria, serif;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  font-size: 13pt;
}

.s1 {
  font-family: Calibri, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 7pt;
  vertical-align: 3pt;
}
.s2 {
  font-family: Calibri, sans-serif;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  font-size: 11pt;
}
.s3 {
  font-family: Calibri, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 11pt;
}
.s4 {
  font-family: Verdana, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 10pt;
}
li {
  display: block;
}
#l1 {
  padding-left: 0pt;
  counter-reset: c1 1;
}
#l2 {
  padding-left: 0pt;
}
#l2 li {
  padding-left: 30px;
  text-decoration: dotted !important;
}

#l3 {
  padding-left: 0pt;
}
#l3 li {
  padding-left: 30px;
  text-decoration: dotted !important;
}

#l4 {
  padding-left: 0pt;
}
#l4 li {
  padding-left: 30px;
  text-decoration: dotted !important;
}

#l5 {
  padding-left: 0pt;
}
#l5 li {
  padding-left: 30px;
  text-decoration: dotted !important;
}

#l6 {
  padding-left: 0pt;
}
#l6 li {
  padding-left: 30px;
  text-decoration: dotted !important;
}
#l7 {
  padding-left: 0pt;
}
#l7 li {
  padding-left: 30px;
  text-decoration: dotted !important;
}
#l8 {
  padding-left: 0pt;
}
#l8 li {
  padding-left: 30px;
  text-decoration: dotted !important;
}
#l9 {
  padding-left: 0pt;
}
#l9 li {
  padding-left: 30px;
  text-decoration: dotted !important;
}
#l10 {
  padding-left: 0pt;
}
#l10 li {
  padding-left: 30px;
  text-decoration: dotted !important;
}

#l11 {
  padding-left: 0pt;
}
#l12 {
  padding-left: 30px;
}
#l13 {
  padding-left: 30px;
}
#l14 {
  padding-left: 30px;
}

table,
tbody {
  vertical-align: top;
  overflow: visible;
}
