* {
  margin: 0;
  padding: 0;
}

.page {
  height: 80vh;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  height: 300px;
  width: 300px;
  border-radius: 10px;
  background-color: #f1f3f4;
  box-shadow: 0px 1px 5px 0px #000c2f4d;
}
.heading {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 1rem;
  font-weight: bold;
  font-size: 30px;
}
.img-holder {
  margin: auto;
  width: 150px;
  height: 150px;
  /* border: 3px black solid; */
  /* border-radius: 45%; */
  margin-top: 1rem;
}
.img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px black solid;
}
#input[type="file"] {
  display: none;
}
.label {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
.image-upload {
  margin: auto;
  width: 200px;
  height: 50px;
  color: white;
  border-radius: 10px;
  background-color: black;
  /* text-align: center; */
  cursor: pointer;
  font-size: 18px;
}
.choosephoto {
  display: flex;
  justify-content: center;
  align-items: center;
}
