:root {
  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
}

::selection {
  background-color: var(--background-color);
  color: var(--color);
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 220px;
  padding: 10px 14px;
  background: var(--background-color);
  transition: var(--color);
  transition: var(--tran-05) !important;
  z-index: 100;
}
.ABWrapper {
  background-color: var(--background-color);
  color: var(--color);
  width: 100%;
  text-align: center;
  padding: 10px;
  transition: var(--tran-05) !important;
}
.AB {
  margin: 0;
  color: var(--color);
}
.sidebar.close {
  width: 88px;
  transition: var(--tran-05);
}

.sidebar .tab {
  height: 50px;
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.sidebar header .image,
.sidebar .tab {
  /* min-width: 20px; */
  border-radius: 6px;
}

.sidebar .icon {
  min-width: 20px;
  border-radius: 6px;
  /* height: 100%; */
  display: inline-block;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
svg.icon {
  margin: auto 20px !important;
}
.sidebar .text,
.sidebar .icon {
  color: var(--color);
  transition: var(--tran-03);
}

.menu-links {
  padding-left: 0 !important;
}
.sidebar .nav-text {
  margin: 0 !important;
}
.sidebar .text {
  font-size: 17px;
  font-weight: 500;
  white-space: nowrap;
  margin-left: 10px;
  opacity: 1;
}
.sidebar.close .text {
  opacity: 0;
  transition: var(--tran-05);
}
.image-text .image {
  padding: 0 0 0 5px;
}
.sidebar header {
  position: relative;
  /* display: flex; */
  flex-direction: row;
}
.sidebar .tab.active {
  background-color: var(--color);
  color: var(--background-color) !important;
}
.sidebar .tab.active > * {
  background-color: var(--color);
  color: var(--background-color) !important;
}

.sidebar header .image-text {
  display: inline-flex;
  align-items: center;
  margin-left: -13px;
}
.sidebar header .logo-text {
  display: flex;
  flex-direction: column;
}
header .image-text .name {
  margin-top: 2px;
  font-size: 18px;
  font-weight: 600;
}

header .image-text .profession {
  font-size: 14px;
  /* margin-top: 4px; */
  display: block;
  margin: 4px auto auto auto;
}

/* .sidebar header .image {
  display: flex;
  align-items: center;
  justify-content: center;
} */

.sidebar header .image img {
  width: 50px;
  height: 50px;
  margin-top: 9px;
  padding: 2px;
  border: 2px solid var(--color);
  border-radius: 50%;
  /* background-color: inherit;
  border: 3px solid rgb(255, 255, 255); */
}

.sidebar header .Side-toggle {
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateY(-50%) rotate(180deg);
  height: 20px;
  width: 25px;
  /* background-color: var(--color); */
  color: var(--color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  cursor: pointer;
  transition: all 0.4s ease;
  margin: 0 0 0 4px !important;
}

.sidebar.close .Side-toggle {
  transform: translateY(-50%) rotate(0deg);
  transition: var(--tran-05);
}

.sidebar .menu {
  margin-top: 40px;
}

.sidebar .tab a {
  list-style: none;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  text-decoration: none;
  transition: var(--tran-03);
}

.sidebar .tab:hover {
  background-color: var(--color);
  color: var(--background-color) !important;
}
.sidebar .tab:hover > .text .icon {
  background-color: var(--color);
  color: var(--background-color) !important;
}
.sidebar .tab:hover .icon,
.sidebar .tab:hover .text {
  color: var(--sidebar-color);
}
body.dark .sidebar .tab:hover .icon,
body.dark .sidebar .tab:hover .text {
  color: var(--text-color);
}

.sidebar .menu-bar {
  height: calc(100% - 55px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar {
  display: none;
}
div .AB {
  text-align: center;
  text-shadow: -1px -1px 0px rgba(255, 255, 255, 0.3),
    1px 2px 0px rgba(0, 0, 0, 1);
  color: rgb(255, 255, 255);
  opacity: 0.9;
  font: 700 35px "Bitter";
}
.sidebar .menu-bar .mode {
  border-radius: 6px;
  background-color: var(--primary-color-light);
  position: relative;
  transition: var(--tran-05);
}

.menu-bar .mode .sun-moon {
  height: 50px;
  width: 60px;
}

.mode .sun-moon i.sun {
  opacity: 0;
}
body.dark .mode .sun-moon i.sun {
  opacity: 1;
}
body.dark .mode .sun-moon i.moon {
  opacity: 0;
}

.menu-bar .bottom-content .toggle-switch {
  position: absolute;
  right: 0;
  height: 100%;
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
}
.body {
  /* position: absolute; */
  top: 60px;
  left: 220px;
  height: 86vh;
  max-height: 89vh;
  width: calc(100% - 220px);
  /* background-color: var(--color); */
  transition: var(--tran-05);
}
.body .text {
  font-size: 30px;
  font-weight: 500;
  color: var(--text-color);
  /* padding: 12px 60px; */
}

.sidebar.close ~ .body {
  left: 88px;
  height: 86vh;
  max-height: 89vh;
  width: calc(100% - 88px);
}
body.dark .body .text {
  color: var(--text-color);
}
